{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-12 mx-auto">
<div class="timeline_content mb-4 mt-4">
 <div class="card-body">
    <h2 class="heading card-title2 text-center custom-text source-code-pro-custom">Academics</h2>
    <p class="para custom-text source-code-pro-custom-light">
        My academic journey has been driven by a deep curiosity and a passion for self-learning. I am currently pursuing a Bachelor's degree in Data Science and Programming at IIT Madras, where I continuously seek to expand my knowledge and skills. Throughout my education, I've maintained a strong interest in diverse fields, including robotics, finance, neuroscience, and business, which has shaped my holistic approach to learning. My commitment to autodidacticism has enabled me to acquire a wide range of skills and experiences, fueling my growth both academically and personally.
    </p>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid mt-5 pt-5 mb-5 pb-5 ">
                <div class="row justify-content-center">
                    <div class="col-3">
                <div class="info-card">
                    <h3 class="card-title">Under-Grad</h3>
                    <h6 class="card-content">2022-2026 <br> Indian Institute of Technology, Madras 
                    </h6>
                    <p class="card-paragraph">I am currently pursuing a Bachelor’s degree in Data Science & Programming at IIT Madras. This program allows me to delve deeply into data analysis, statistical methods, and programming, equipping me with the skills to tackle complex data challenges. Studying at such a prestigious institution is a privilege and offers an exceptional platform for developing innovative solutions and insights.</p>
                    <div class="progress-bar">
                        <div class="empty-progress"></div>
                        <div class="filled-progress"></div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3">
                <div class="info-card">
                    <h3 class="card-title">Higher Secondary</h3>
                    <h6 class="card-content">2020-2022<br>NAMO rims Junior College </h6>
                    <p class="card-paragraph">At Namo RIMS Junior College, where I pursued the science stream for my 11th and 12th grades, I immersed myself in advanced scientific studies and gained a solid foundation for future academic and career pursuits. The rigorous curriculum and dynamic learning environment were instrumental in deepening my understanding of scientific concepts and preparing me for higher education.</p>
                    <div class="progress-bar">
                        <div class="empty-progress"></div>
                        <div class="filled-progress"></div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3">
                <div class="info-card">
                    <h3 class="card-title">School</h3>
                    <h6 class="card-content">2009-2019<br>Rosary International School &#124; ICSE-92&#37;</h6>
                    <p class="card-paragraph">At Rosary School, an ICSE institution, I thrived in a stimulating academic environment and excelled in science exhibitions. My innovative projects earned me several accolades, fostering both my scientific curiosity and skills. The experience was pivotal in shaping my educational journey.</p>
                    <div class="progress-bar">
                        <div class="empty-progress"></div>
                        <div class="filled-progress"></div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>  
    </div>
</div>    
</div>
</div>
{% endblock %}
