{%extends "base.html"%}


{%block body%}
<div class="container-fluid pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="timeline_content mb-4">
                    <div class="card-body">
                        <h2 class="heading card-title text-center custom-text source-code-pro-custom">Academics</h2>
                        <p class="para custom-text source-code-pro-custom-light">
                            My academic journey has been driven by a deep curiosity and a passion for self-learning. I am currently pursuing a Bachelor's degree in Data Science and Programming at IIT Madras, where I continuously seek to expand my knowledge and skills. Throughout my education, I've maintained a strong interest in diverse fields, including robotics, finance, neuroscience, and business, which has shaped my holistic approach to learning. My commitment to autodidacticism has enabled me to acquire a wide range of skills and experiences, fueling my growth both academically and personally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title source-code-pro-custom custom-text">
                    <h4>2009</h4>
                    <p class="custom-text"> the story starts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    
                    <li>
                        <div class="timeline_content source-code-pro-custom card-custom">
                            <span>2009-2019</span>
                            <h4>Rosary International School</h4>
                            <h6>ICSE-92&#37;<h6>
                            <p>At Rosary School, an ICSE institution, I thrived in a stimulating academic environment and excelled in science exhibitions. My innovative projects earned me several accolades, fostering both my scientific curiosity and skills. The experience was pivotal in shaping my educational journey.</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2020-2022</span>
                            <h4>NAMO rims Junior College</h4>
                            <p>At Namo RIMS Junior College, where I pursued the science stream for my 11th and 12th grades, I immersed myself in advanced scientific studies and gained a solid foundation for future academic and career pursuits. The rigorous curriculum and dynamic learning environment were instrumental in deepening my understanding of scientific concepts and preparing me for higher education.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2022-2026</span>
                            <h4>Indian Institute of Technology, Madras</h4>
                            <p>I am currently pursuing a Bachelor’s degree in Data Science & Programming at IIT Madras. This program allows me to delve deeply into data analysis, statistical methods, and programming, equipping me with the skills to tackle complex data challenges. Studying at such a prestigious institution is a privilege and offers an exceptional platform for developing innovative solutions and insights.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}

