{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 pt-5 pb-5 mt-5 mb-5 custom-text source-code-pro-custom ">
            <div class="timeline_content mb-4">
            <div class="card-body">
                <h1 class="pb-3">Contact me</h1>
                <p>E-mail: ayushsjadhav99@gmail.com</p>
                <p>Whatsapp: <a href="https://wa.me/qr/UKOF63DS6I6DF1" class="custom-text" target="_blank">Click to chat </a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/ayush-s-jadhav/" class="custom-text" target="_blank">Click to connect</a></p>
                <p>Instagram: <a href="https://www.instagram.com/ajeeb.ayush/?next=%2F" class="custom-text" target="_blank">Click to follow</a> </p>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>
{% endblock %}
