{%extends "base.html"%}


{%block body%}
<div class="container-fluid pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="timeline_content mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-center custom-text source-code-pro-custom">My Entrepreneurship Journey</h4>
                        <p class="custom-text source-code-pro-custom">
                            From a young age, I had an entrepreneurial spirit that drove me to explore the world of business. In the 11th grade, I channeled this passion into founding a marketing company alongside a close-knit group of friends. Driven by our collective enthusiasm, we worked with a variety of startups, including Wooddaddy and ShonaByZain, as well as resorts and educational institutes. What began as a side hustle quickly turned into a thriving business, allowing me to gain invaluable experience in the world of marketing and business development.
                        </p>
                        <p class="custom-text source-code-pro-custom">
                            After taking a brief pause to focus on my studies during the 12th grade, I returned with renewed vigor and founded Nilegenix, a pharma company. This venture marked a new chapter in my entrepreneurial journey, blending my interest in science and business. My journey has always been fueled by a deep curiosity and a desire to learn and grow. Whether it's through my love for robotics and technology or my fascination with finance, neuroscience, and philosophy, I am committed to continuously expanding my knowledge and skills. Every day is an opportunity to learn something new, and I embrace the challenges and adventures that come my way.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title source-code-pro-custom custom-text">
                    <h4>2020</h4>
                    <p class="custom-text"> the story starts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2020</span>
                            <h4>Founder at HikeHelix</h4>
                            <p>As the founder of Hike Helix, I led the company in delivering tailored marketing solutions to clients in education, hospitality, and startups. My role involved deep learning in marketing and service-related domains.<strong> A highlight of our achievements was designing the logo for ShonaByZain, which was showcased at Miss India</strong> when the brand was selected to design the event's outfits. This milestone marked Hike Helix's growing reputation in the industry.</p>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2022</span>
                            <h4>C.E.O. Nilegenix Pharma</h4>
                            <p>As the Partner and CEO of Nilegenix Pharma, I oversee all executive and day-to-day operations of the company. This role has provided me with the opportunity to dive deep into the nuances and complexities of the Indian market. Every challenge presents a unique learning experience, allowing me to navigate and adapt to the ever-evolving landscape of the pharma industry.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}