{%extends "base.html"%}


{%block body%}
<div class="container-fluid pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="timeline_content mb-4">
                    <div class="card-body">
                        <h2 class="heading card-title2 text-center custom-text source-code-pro-custom">Robotics</h2>
                        <p class="para custom-text source-code-pro-custom-light">
                            My journey in robotics started when I was in 6th grade, driven by a deep curiosity for how things work. I began at Dolphin Labs, where I immersed myself in electronics, programming languages, and technologies like Arduino and Raspberry Pi. Working on various projects there laid a strong foundation for my passion in this field. At SVR InfoTech, I had the opportunity to work on a humanoid robot, where I was responsible for programming its locomotion and managing the electronics. Collaborating with a BARC scientist on this project was a significant learning experience that deepened my understanding of robotics. My commitment to self-learning has driven me to constantly explore new technologies and challenges in robotics. Participating in engineering exhibitions across Maharashtra further honed my skills and exposed me to a wider community of like-minded individuals. This passion continues to fuel my work and innovation in robotics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title source-code-pro-custom custom-text">
                    <h4>2015</h4>
                    <p class="custom-text"> the story starts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2023-2024</span>
                            <h4>Robotics Educator @ Robochamps</h4>
                            <p>At RoboChamps, as a Robotics Educator, I had the unique opportunity to teach students from around the world, bringing diverse perspectives into the learning environment. I developed and delivered engaging robotics lessons, tailoring my approach to meet the needs of students with varying levels of experience. This role allowed me to share my passion for robotics on an international scale, fostering creativity and problem-solving skills among a global audience. It was a rewarding experience that broadened my teaching skills and cultural understanding.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2023</span>
                            <h4>Robotics Educator @ BotMakers</h4>
                            <p>At Bot Makers as a Robotics Educator, I focused on<b> curriculum design for STEM fields, creating programs that made complex concepts accessible to students.</b> I managed and coordinated various workshops, ensuring they ran smoothly and effectively. A notable experience was <b>organizing a workshop on drone technology at IIT Bombay,</b> where I oversaw the event and facilitated learning opportunities for participants. This role allowed me to contribute to STEM education by supporting hands-on learning experiences.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2019-2020</span>
                            <h4>Intern @ SVR Infotech</h4>
                            <p>At SVR InfoTech, I worked on a<b> humanoid robot project, where I was responsible for programming its locomotion </b>and managing the electronics. This role allowed me to apply my robotics knowledge to real-world applications, providing hands-on experience with sophisticated technologies.<b> I also had the opportunity to collaborate with a BARC scientist, assisting in the design and electronics aspects of the project.</b> This experience significantly enhanced my understanding of robotics and exposed me to practical industrial challenges in the field.</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="timeline_content source-code-pro-custom card-custom">
                            <span>2015-2019</span>
                            <h4>Student @ Dolphin Labs</h4>
                            <p>At Dolphin Labs, I extensively studied <b>robotics, focusing on electronics, programming languages like C, C++, and Python, as well as technologies such as Arduino, Raspberry Pi, and IoT.</b> I worked on various projects, gaining practical experience in robotics and participating in engineering exhibitions across Maharashtra. This hands-on involvement provided me with a strong foundation in robotics and exposed me to the intricacies of<b> drone mechanics and whirligig systems.</b> The collaborative environment at Dolphin Labs also helped me develop a deep understanding of robotics through teamwork and shared knowledge.</p>
                        </div>
                    </li>
                    
                   
                   
                    
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}

