{%extends "base.html"%}


{%block body%}
<div class="container-fluid pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="timeline_content mb-4">
                    <div class="card-body">
                        <h2 class="card-title2 text-center custom-text source-code-pro-custom">Teaching</h2>
                        <p class="custom-text source-code-pro-custom">
                            With a deep passion for teaching, I have dedicated myself to guiding students in grades 8 through 12 across SSC and CBSE boards, covering both academic subjects and JEE/NEET preparation. This side hustle not only allows me to share knowledge but also keeps me closely connected with the younger generation and their innovative ideas. Teaching has been a fulfilling experience, enabling me to inspire and shape the minds of future leaders while staying engaged with the evolving educational landscape.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title source-code-pro-custom custom-text">
                    <h4>2020</h4>
                    <p class="custom-text"> the story starts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2020</span>
                            <h4>Founder at HikeHelix</h4>
                            <p>As the founder of Hike Helix, I led the company in delivering tailored marketing solutions to clients in education, hospitality, and startups. My role involved deep learning in marketing and service-related domains.<strong> A highlight of our achievements was designing the logo for ShonaByZain, which was showcased at Miss India</strong> when the brand was selected to design the event's outfits. This milestone marked Hike Helix's growing reputation in the industry.</p>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content source-code-pro-custom">
                            <span>2022</span>
                            <h4>C.E.O. Nilegenix Pharma</h4>
                            <p>As the Partner and CEO of Nilegenix Pharma, I oversee all executive and day-to-day operations of the company. This role has provided me with the opportunity to dive deep into the nuances and complexities of the Indian market. Every challenge presents a unique learning experience, allowing me to navigate and adapt to the ever-evolving landscape of the pharma industry.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}

